html
    head
        title=title
        link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='/css/app.css', rel='stylesheet')
        script
    body
        include ./topItem.pug
        div.container
            div.jumbotron
                h1
                p
                form.form-inline(method="post" id="useradd" action="/mailsend")
                    div.form-group
                        label(for="username") Username:
                        input.form-control(type="text", name="username", value="")
                    div.form-group
                        input.form-control(type="submit", value="Save")
